@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  border: 1px solid red;
} */
.section1{
  background-color: rgb(15, 16, 19);
}
/* 24,31,25 */
.section2,.section3{
  background-color: rgb(24, 31, 25);
}
.sidebar{
  background-color: rgb(24, 26, 32);
}
.barchart{
  color: white !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
